@import "../CommonRules";

.c-ExamplePane {
    height: 240px;
    background: @lighterBGColor;
    position: relative;
    color: @mediumColor;

    .tab2col1 {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    &.showResults .tab2col1 {
        width: 50%;
        right: auto;
    }

    .tab2col2 {
        position: absolute;
        left: 50%;
        top: 0;
        width: 50%;
        height: 35px;
        border-left: 1px solid @lightBGColor;
    }

    &.showResults .tab2col2 {
        height: auto;
        bottom: 0;
    }

    .pane {
        display: inline-block;

        .title {
            display: inline-block;
            padding: 0 10px;
            margin-right: 5px;
            height: 35px;
            line-height: 35px;
            font-size: 13px;
            cursor: pointer;
            .user-select(none);
        }

        .title:hover {
            background: @lighterBGColor;
        }

        .edit {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 35px;
            bottom: 0;
            border-top: 1px solid @lightBGColor;
        }

        .result {
            position: absolute;
            border: none;
            width: 100%;
            height: 100%;
        }

        &.isSelected  {
            .title {
                border-top: 5px solid @highlightColor;

                background: @lightestBGColor linear-gradient(to top,rgba(232,232,232,0) 0,rgba(232,232,232,.4) 78%,rgba(90,158,221,.2) 100%);
                line-height: 25px;
                height: 30px;
                -webkit-tap-highlight-color: transparent;
            }

            .edit {
                display: block;
            }
        }
    }
}

@media (max-width: 640px) {
    .c-ExamplePane {
        height: 480px;

        .tab2col1 {
            height: 50%;
        }

        &.showResults .tab2col1 {
            width: 100%;
        }

        .tab2col2 {
             left: 0%;
             top: 240px;
             width: 100%;
        }
    }
}
