<js-view js-type="Header" js-model="HeaderModel" js-css="Header.css">
    <div class="c-Header">
        <div class="logoImage"></div>
        <div class="logo" js-bind="text:logoText"></div>
        <ul class="commands" js-repeat="command in commands">
            <li class="command" js-bind="className.selected:$parent.isSelected" js-userAction="click:$send(command.viewType, $root.pageType),touchstart:$send(command.viewType, $root.pageType)">
                <a js-bind="href:command.url, text:command.text"></a>
            </li>
        </ul>
    </div>
</js-view>
